<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--FRAGMENTO DE HEAD-->
<head th:replace="/fragments/head :: head"></head>


<body class="text-center">
  <div class="container-fluid">
       
    <nav class="navbar navbar-expand-lg  bg-dark rounded" data-bs-theme="dark" aria-label="Thirteenth navbar example" th:fragment="navbarLog">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
          <a class="navbar-brand col-lg-3 me-0"  th:href="@{/}">Volver</a>
        
          <ul class="navbar-nav col-lg-6 justify-content-lg-center">
           
            <li class="nav-item dropdown">
              <li style="color: aliceblue; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><h2>MrHouse</h2></li>
            </li>
  
            <li class="nav-item dropdown">
             
            </li>
          
           
          </ul>
        </div>
      </div>
    </nav>
  </div>




      <div class="container">
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <main class="form-signin w-100 m-auto " >
                <form th:action="@{/loginchek}" method="POST" class="col-6 conteiner mx-auto" >
                  
                  <h1 class="h3 mb-3 fw-normal"  style="margin-top: 50px;">Por favor, inicie sesion </h1>
              
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                    <label for="floatingInput">Email </label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                    <label for="floatingPassword">Contraseña</label>
                  </div>
              
                 
                  <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesion</button>
                  
                </form>
              </main>
                  
                  



            </div>
            <div class="col-md-5 order-md-1">
                <img src="/mrhouselog.jpg" class="card-img-top" width="850px" height="575px">
            </div>
        </div>



      </div>


     

      
      <div class="container">
        <!--PIE DE PAGINA FIJO-->
        <footer th:replace="/fragments/footer :: footer"></footer>
      </div>

</body>
</html>

